*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
}

@font-face {
  font-family: 'Inter';
  src:
          local('Inter'),
          local('Inter'),
          url('../../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto'),
          local('Roboto'),
          url('../../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto'),
          local('Roboto'),
          url('../../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #EBEEF3;
  font-family: 'Inter', sans-serif;
}
