.article-list {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 26px;

  &__pagination {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.article {
  width: 65%;
}
