.auth {
  min-width: 384px;
  display: flex;
  flex-direction: column;

  &__title {

  }

  &__label {

    &--checkbox {

    }
  }

  &__input {

  }

  &__checkbox {

  }

  &__submit {

  }

  &__message {

  }

  &__link {

  }
}
